
#------Docker Role------

- name: Install Docker via amazon-linux-extras
  ansible.builtin.command: amazon-linux-extras install docker -y
  args:
    creates: /usr/bin/docker #To achieve idempotency - don't execute task if folder exists

- name: Extract docker compose version
  ansible.builtin.command: /usr/local/bin/docker-compose -v
  register: docker_compose_version
  ignore_errors: yes
  changed_when: false
  failed_when: false

- name: Print docker compose version
  ansible.builtin.debug:
    msg: "Docker compose version check output: {{ docker_compose_version }}"

- name: Install docker compose if not installed
  when: docker_compose_version.rc != 0 #Another way to achieve idempotency
  ansible.builtin.shell: curl -L "https://github.com/docker/compose/releases/latest/download/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
   
- name: Set permissions for docker compose
  when: docker_compose_version.rc != 0
  ansible.builtin.command: chmod +x /usr/local/bin/docker-compose

- name: Ensure Docker service is started and enabled
  ansible.builtin.service:
    name: docker
    state: started
    enabled: yes # Start on boot

- name: Add ec2-user to docker group
  ansible.builtin.user:
    name: ec2-user
    groups: docker
    append: yes

- name: Login to ECR
  ansible.builtin.shell: |
    /usr/local/bin/aws ecr get-login-password --region {{ aws_region }} | docker login --username AWS --password-stdin {{ ecr_registry }}
  args:
    executable: /bin/bash
  changed_when: false

- name: Update the Docker compose file with the new version
  ansible.builtin.template:
    src: docker-compose.j2
    dest: "{{ scripts_folder }}/docker-compose.yaml"
    mode: '0644'

- name: Docker compose up
  ansible.builtin.shell: >
    cd {{ scripts_folder }}
    docker-compose up -d

- name: Remove unused Docker images
  ansible.builtin.shell: docker image prune -f


