---
- hosts: webservers_prod
  become: yes
  vars_files:
  - vars/ssh.yml
  tasks:
    - name: Install dependencies
      ansible.builtin.yum:
        name:
          - unzip
          - curl
        state: present

    - name: Check AWS CLI version
      ansible.builtin.command: /usr/local/bin/aws --version
      register: aws_version
      ignore_errors: yes

    - name: Print aws version
      ansible.builtin.debug:
        msg: "Aws version check output: {{ aws_version }}"

    - name: Download AWS CLI v2 if not exists
      when: aws_version.rc != 0 # only when aws is not installed - rc = return code, 0 = success
      get_url:
        url: https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip
        dest: /tmp/awscliv2.zip
        mode: '0644'

    - name: Unzip AWS CLI
      when: aws_version.rc != 0
      ansible.builtin.unarchive:
        src: /tmp/awscliv2.zip
        dest: /tmp
        remote_src: yes # file is located on remote - ec2

    - name: Install AWS CLI v2
      when: aws_version.rc != 0
      ansible.builtin.command: /tmp/aws/install
      args:
        creates: /usr/local/bin/aws
# setup aws credentials manually using aws configure
     
    - name: Install Docker via amazon-linux-extras
      ansible.builtin.command: amazon-linux-extras install docker -y
      args:
        creates: /usr/bin/docker

    - name: Install Docker Compose v2 plugin
      ansible.builtin.package:
        name: docker-compose-plugin
        state: present

    - name: Ensure Docker service is started and enabled
      ansible.builtin.service:
        name: docker
        state: started
        enabled: yes

    - name: Add ec2-user to docker group
      ansible.builtin.user:
        name: ec2-user
        groups: docker
        append: yes










