name: Deploy release

on:
  workflow_dispatch:    
#    inputs:
#      tag:
#        description: 'Tag to run this workflow for'
#        required: true
#        default: ''

permissions:
  contents: write

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0   # REQUIRED for tags + release plugin

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: maven

      - name: Setup SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.EC2_PROD_SSH_PRIV_KEY }}" > ~/.ssh/id_rsa.pem
          chmod 600 ~/.ssh/id_rsa.pem

      - name: Add EC2 host key
        run: |
          ssh-keyscan -H 13.61.96.166 >> ~/.ssh/known_hosts

      - name: Setup Ansible Vault
        run: |
          mkdir -p ~/ansible-vault/
          echo "${{ secrets.ANSIBLE_VAULT_PASSWORD }}" > ~/ansible-vault/password
          chmod 600 ~/ansible-vault/password

      - name: Install Compatible Ansible
        run: |
          python -m pip install --upgrade pip
          # 2.14.x is the last version that fully supports the older 
          # Python 3.7/3.8 environments
          pip install "ansible-core==2.14.11" ansible

      - name: Deployment
        if: success()
        run: |
          echo "Ansible deployment start..."
          ansible-playbook -i $GITHUB_WORKSPACE/ansible/hosts \
          $GITHUB_WORKSPACE/ansible/deploy.yml --vault-password-file ~/ansible-vault/password
